@using static PFE.HOTIX.WEB.Helpers.NavigationIndicatorHelper
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    PFE.HOTIX.Entities.User curUser = null;
    string strUser = HttpContextAccessor.HttpContext.Session.GetString("User");

    if (!string.IsNullOrEmpty(strUser))
    {
        curUser = Newtonsoft.Json.JsonConvert.DeserializeObject<PFE.HOTIX.Entities.User>(strUser);
    }

    PFE.HOTIX.Entities.Parc curParc = null;
    string strParc = HttpContextAccessor.HttpContext.Session.GetString("Parc");

    if (!string.IsNullOrEmpty(strParc))
    {
        curParc = Newtonsoft.Json.JsonConvert.DeserializeObject<PFE.HOTIX.Entities.Parc>(strParc);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOTIX</title>
    <link rel="icon" href="/dist/img/hotixx.png" >
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
   
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
   
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

   
    <div class="wrapper">
      
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
          
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">

                </li>

                <li class="nav-item">
                    <a class="nav-link">Bonjour, @curUser.FullName</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Logout", "Account")'>
                        <i class="fas fa-sign-out-alt" style='font-size:25px'></i>
                    </a>
                </li>

            </ul>
        </nav>
       
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
         
            <a class="brand-link">
                <img src="~/dist/img/hotixx.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">HOTIX</span>
            </a>

            <div class="sidebar">
                
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="image">
                        <img src="~/uploads/@curUser.ImageUrl" class="img-circle elevation-4" alt="User Image">
                    </div>

                    <div class="info">
                        <a href=/home/index class="d-block">@curUser.FullName</a>
                    </div>

                </div>

                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Recherche" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <br/>
              
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        ))

                        {
                            <li class="nav-item">
                                <a aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Dashbord" class="nav-link">
                                    <i class="fas fa-tachometer-alt"></i>


                                    <p>
                                        Tableau de bord
                                    </p>
                                </a>
                            </li>

                        }

                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        ))

                        {
                            <li class="nav-item">
                                <a aria-expanded="false" asp-area="" asp-controller="User" asp-action="Index" class="nav-link">
                                    <i class="fas fa-users"></i>


                                    <p>
                                        Utilisateurs

                                    </p>
                                </a>
                            </li>
                        }

                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        ))
                        {
                            <li class="nav-item">
                                <a aria-expanded="false" asp-area="" asp-controller="Parc" asp-action="Index" class="nav-link">
                                    <i class="fas fa-parking"></i>


                                    <p>
                                        Parcs

                                    </p>
                                </a>
                            </li>
                        }

                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        || (curUser.UserRole.Id == 3)))
                        {
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="fa fa-car"></i>
                                    <p>
                                        Voitures
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">




                                    <li class="nav-item">
                                        <a aria-expanded="false" asp-area="" asp-controller="Voiture" asp-action="Index" class="nav-link">
                                            <i class="fas fa-list"></i>


                                            <p>Liste des voitures</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-expanded="false" asp-area="" asp-controller="Model" asp-action="Index" class="nav-link">
                                            <i class="fas fa-list"></i>

                                            <p> Liste des Modéles</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-expanded="false" asp-area="" asp-controller="Marque" asp-action="Index" class="nav-link">
                                            <i class="fas fa-list"></i>

                                            <p>Liste des Marques</p>
                                        </a>
                                    </li>


                                </ul>
                            </li>
                        }

                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        || (curUser.UserRole.Id == 2)
                        || (curUser.UserRole.Id == 3)))
                        {

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-calendar-check"></i>
                                    <p>
                                        Réservations
                                        <i class="right fas fa-angle-left"></i>

                                    </p>
                                </a>



                                <ul class="nav nav-treeview">

                                    @if ((curUser != null)
                                   && ((curUser.UserRole.Id == 1)
                                   || (curUser.UserRole.Id == 3)))
                                    {
                                        <li class="nav-item">
                                            <a aria-expanded="false" asp-area="" asp-controller="DemandeReservation" asp-action="index" class="nav-link">
                                                <i class="fas fa-list"></i>
                                                <p>Demandes de réservation</p>
                                            </a>
                                        </li>

                                    }




                                    @if ((curUser != null)
                                   && ((curUser.UserRole.Id == 1)
                                   || (curUser.UserRole.Id == 3)))
                                    {
                                        <li class="nav-item">
                                            <a aria-expanded="false" asp-area="" asp-controller="DemandeReservation" asp-action="indexx" class="nav-link">
                                                <i class="fas fa-list"></i>
                                                <p>Liste des voitures affectées</p>
                                            </a>
                                        </li>

                                    }


                                    @if ((curUser != null)
                                   && ((curUser.UserRole.Id == 2)))
                                   
                                    {
                                        <li class="nav-item">
                                            <a aria-expanded="false" asp-area="" asp-controller="Reservation" asp-action="Ajouter" class="nav-link">
                                                <i class="fas fa-plus"></i>
                                                <p>Ajouter une réservation</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a aria-expanded="false" asp-area="" asp-controller="Reservation" asp-action="Index" class="nav-link">
                                                <i class="fas fa-list"></i>
                                                <p>Mes demandes de réservation</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>



                        }
                        @if ((curUser != null)
                        && ((curUser.UserRole.Id == 1)
                        || (curUser.UserRole.Id == 3)))
                        {

                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="fas fa-tools"></i>
                                    <p>
                                        Maintenances
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">




                                    <li class="nav-item">
                                        <a aria-expanded="false" asp-area="" asp-controller="Maintenance" asp-action="Index" class="nav-link">
                                            <i class="fas fa-list"></i>


                                            <p>Liste des Maintenances</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-expanded="false" asp-area="" asp-controller="Typemaintenance" asp-action="Index" class="nav-link">
                                            <i class="fas fa-list"></i>

                                            <p> Liste  Types des Maintenances</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>
                </nav>
              
            </div>
          
        </aside>

        <div class="content-wrapper">
         
            <section class="content-header">
                <div class="container-fluid">
                </div>
            </section>

            <div class="card-body">
                @RenderBody()
            </div>
         
        </div>
     
    </div>
 
    <aside class="control-sidebar control-sidebar-dark">
      
    </aside>
  
    </div>
  
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <script src="~/dist/js/adminlte.min.js"></script>
   <script src="~/dist/js/demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
