@model PFE.HOTIX.WEB.Models.MarqueViewModel
@{
    ViewData["Title"] = "Ajouter Page";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"
                <div class="card card-teal card-outline">
                    <div class="card-header">
                        <h2 class="card-title">Ajouter une marque </h2>
                    </div>


                <form class="mt-4" asp-controller="Marque" asp-action="Ajouter">


                   

                    <div class="form-group">
                        <label for="exampleInputPassword1">Nom marque</label>
                        <input asp-for="marque_name" class="form-control" id="exampleInputPassword1" placeholder=" Entrer Nom Marque">
                        <span asp-validation-for="marque_name" class="text-danger"></span>
                    </div>


                    <button value="Ajouter" type="submit" class="btn btn-success float-right"> <i class="fa fa-check"></i> Ajouter</button>
                     <button asp-action="Index" class="btn btn-danger "><i class="fas fa-arrow-left"></i> Annuler </button>
                </form>

            </div>
        </div>
        </div>
    </div>

