@model PFE.HOTIX.WEB.Models.ReservationViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="row">
        <div class="col">
            <div class="card card-teal">
                <div class="card-header">
                    <h3 class="card-title">
                        Ajouter une demende de réservation
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" asp-action="Ajouter" asp-controller="Reservation">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="datedebutreservation" class="control-label">Date début :</label>
                                    <input asp-for="datedebutreservation" class="form-control" />
                                    <span asp-validation-for="datedebutreservation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="datefinresrvation" class="control-label">Date fin :</label>
                                    <input asp-for="datefinresrvation" class="form-control" />
                                    <span asp-validation-for="datefinresrvation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="parc_id" class="control-label">Parc:</label>
                                    <select asp-for="parc_id" class="form-control" size="1" asp-items="@(new SelectList(Model.Parcs ,"id_parc","nom_parc"))">
                                        <option id="0" value="0">-- select -- </option>
                                    </select>
                                    <span asp-validation-for="parc_id" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />

                        <hr noshade>

                        <div class="form-group">
                            <label asp-for="description_reservation" class="control-label">Description :</label>
                            <textarea asp-for="description_reservation" class="form-control" rows="4" placeholder="Entrer ..."></textarea>
                            <span asp-validation-for="description_reservation" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button value="Ajouter" type="submit" class="btn btn-success float-right"> <i class="fa fa-check"></i> Ajouter</button>
                                <button asp-action="Index" class="btn btn-danger "><i class="fas fa-arrow-left"></i> Annuler </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
   

</section>
